################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Makao/v15/ipch/AutoPCH/14149d6b393eac47
